<div>
  <h2>More information about <img src={{model.image}} class="img-responsive"> {{model.foodName}}</h2>
{{model.indregients}}<br>{{model.instructions}}

{{edit-recipe recipe=recipe edit="edit"}}
</div>
